.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensures that the container takes the full width */
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 60px;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    max-width: 1028px;
    width: 100%; /* Full width to contain child elements */
    overflow-y: auto;
    padding: 0 24px; /* Horizontal padding for inner spacing */
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 20px;
    display: flex;
    width: 100%; /* Full width, the max-width is removed */
    box-sizing: border-box; /* Includes padding in the width calculation */
}

.chatMessageGptMinWidth {
    width: 100%; /* Full width, the max-width is removed */
    margin-bottom: 20px;
    box-sizing: border-box; /* Includes padding in the width calculation */
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding: 12px 24px; /* Consistent padding */
    width: 100%; /* Full width */
    background: #a4cdf1;
    box-sizing: border-box; /* Includes padding in the width calculation */
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin: 0 20px; /* Consistent margin */
    box-sizing: border-box; /* Includes padding in the width calculation */
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}

.chatIcon {
    height: 256px;
    width: 256px;
}
